<!-- app/views/admin/guests/index.html.erb -->

<%= stylesheet_link_tag "admin" %>

<div class="row align-items-center mb-5 mt-5">
  <div class="col-sm-11">
    <h1 class="text-center">Guests</h1>
  </div>
  <div class="col-sm-1">
    <%= link_to 'Add', new_admin_guest_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="row">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th colspan="8" class="text-center">
          <%= form_tag admin_guests_path, method: :get, class: 'form-inline d-flex justify-content-center' do %>
            <%= text_field_tag :search, params[:search], class: 'form-control mr-2', placeholder: "Search by name", style: "width: 250px;" %>

            <%= select_tag :guest_source,
                options_for_select([['All', ''], ['Groom', 'groom'], ['Bride', 'bride']], params[:guest_source]),
                class: 'form-control mr-2',
                include_blank: false
            %>

            <%= submit_tag 'Search', class: 'btn btn-primary mr-2' %>
          <% end %>
        </th>
      </tr>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Contact Info</th>
        <th>Contact Source</th>
        <th>Guest Source</th>
        <th>Invitation</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @guests.each_with_index do |guest, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= guest.name %></td>
          <td><%= guest.fetch_gender %></td>
          <td><%= guest.contact %></td>
          <td><%= guest.fetch_contact_source %></td>
          <td><%= guest.fetch_guest_source %></td>
          <td>
            <% if guest.fetch_invitation.present? %>
              <%= link_to guest.fetch_invitation, invitations_show_path(guest.fetch_invitation) %>
            <% end %>
          </td>
          <td>
            <%= link_to 'Edit', edit_admin_guest_path(guest), class: 'btn btn-primary' %>
            <%= link_to "Delete", admin_guest_path(guest), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
      <tr>
        <<td colspan="8" class="text-center" style="font-weight: bold;">Total Guest: <%= @guests.count %></td>
      </tr>
    </tbody>
  </table>
</div>
