<!-- app/views/admin/guests/index.html.erb -->

<%= stylesheet_link_tag "admin" %>

<div class="row align-items-center mb-5 mt-5">
  <div class="col-sm-12">
    <h1 class="text-center">Welcome to admin dashboard page!</h1>
  </div>
</div>

<div class="container mt-5">
  <div class="row-custom justify-content-between mb-3">

    <!-- Reception Participant -->
    <div class="col-md-6">
      <div class="card p-3">
        <h5 class="card-title text-center">Reception Participant</h5>
        <div class="progress-circle" data-percent="75">
          <svg viewBox="0 0 36 36" class="circular-chart" style="transform: rotate(-90deg);">
            <path class="circle-bg"
                  fill="none"
                  stroke="#e6e6e6"
                  stroke-width="3"
                  d="M18 2.0845
                     a 15.9155 15.9155 0 1 1 0 31.831
                     a 15.9155 15.9155 0 1 1 0 -31.831"
            ></path>
            <path class="circle"
                  fill="none"
                  stroke="#4db8ff"
                  stroke-width="3"
                  stroke-dasharray="75, 100"
                  d="M18 2.0845
                     a 15.9155 15.9155 0 1 1 0 31.831
                     a 15.9155 15.9155 0 1 1 0 -31.831"
            ></path>
          </svg>
          <div class="percentage">
            <%= @progress_1 %>%
          </div>
        </div>
        <p class="card-text text-center">TBA</p>
      </div>
    </div>

    <!-- Holy Matrimony Participant -->
    <div class="col-md-6">
      <div class="card p-3">
        <h5 class="card-title text-center">Holy Matrimony Participant</h5>
        <div class="progress-circle" data-percent="50">
          <svg viewBox="0 0 36 36" class="circular-chart" style="transform: rotate(-90deg);">
            <path class="circle-bg"
                  fill="none"
                  stroke="#e6e6e6"
                  stroke-width="3"
                  d="M18 2.0845
                     a 15.9155 15.9155 0 1 1 0 31.831
                     a 15.9155 15.9155 0 1 1 0 -31.831"
            ></path>
            <path class="circle"
                  fill="none"
                  stroke="#4db8ff"
                  stroke-width="3"
                  stroke-dasharray="50, 100"
                  d="M18 2.0845
                     a 15.9155 15.9155 0 1 1 0 31.831
                     a 15.9155 15.9155 0 1 1 0 -31.831"
            ></path>
          </svg>
          <div class="percentage">
            <%= @progress_2 %>%
          </div>
        </div>
        <p class="card-text text-center">TBA</p>
      </div>
    </div>
  </div>

  <div class="row-custom justify-content-between mb-3">

    <!-- TBA -->
    <div class="col-md-3 mx-1">
      <div class="card p-3">
        <h5 class="card-title text-center">TODO: Change ME!</h5>
        <div class="progress-circle" data-percent="75">
          <svg viewBox="0 0 36 36" class="circular-chart" style="transform: rotate(-90deg);">
            <path class="circle-bg"
                  fill="none"
                  stroke="#e6e6e6"
                  stroke-width="3"
                  d="M18 2.0845
                     a 15.9155 15.9155 0 1 1 0 31.831
                     a 15.9155 15.9155 0 1 1 0 -31.831"
            ></path>
            <path class="circle"
                  fill="none"
                  stroke="#4db8ff"
                  stroke-width="3"
                  stroke-dasharray="75, 100"
                  d="M18 2.0845
                     a 15.9155 15.9155 0 1 1 0 31.831
                     a 15.9155 15.9155 0 1 1 0 -31.831"
            ></path>
          </svg>
          <div class="percentage">
            <%= @progress_1 %>%
          </div>
        </div>
        <p class="card-text text-center">TBA</p>
      </div>
    </div>

    <!-- TBA -->
    <div class="col-md-5 mx-1">
      <div class="card p-3">
        <h5 class="card-title text-center">TODO: Change ME!</h5>
        <div class="progress-circle" data-percent="50">
          <svg viewBox="0 0 36 36" class="circular-chart" style="transform: rotate(-90deg);">
            <path class="circle-bg"
                  fill="none"
                  stroke="#e6e6e6"
                  stroke-width="3"
                  d="M18 2.0845
                     a 15.9155 15.9155 0 1 1 0 31.831
                     a 15.9155 15.9155 0 1 1 0 -31.831"
            ></path>
            <path class="circle"
                  fill="none"
                  stroke="#4db8ff"
                  stroke-width="3"
                  stroke-dasharray="50, 100"
                  d="M18 2.0845
                     a 15.9155 15.9155 0 1 1 0 31.831
                     a 15.9155 15.9155 0 1 1 0 -31.831"
            ></path>
          </svg>
          <div class="percentage">
            <%= @progress_2 %>%
          </div>
        </div>
        <p class="card-text text-center">This is a description for progress bar 2. Shows mid-level progress.</p>
      </div>
    </div>

    <!-- TBA -->
    <div class="col-md-3 mx-1">
      <div class="card p-3">
        <h5 class="card-title text-center">TODO: Change ME!</h5>
        <div class="progress-circle" data-percent="25">
          <svg viewBox="0 0 36 36" class="circular-chart" style="transform: rotate(-90deg);">
            <path class="circle-bg"
                  fill="none"
                  stroke="#e6e6e6"
                  stroke-width="3"
                  d="M18 2.0845
                     a 15.9155 15.9155 0 1 1 0 31.831
                     a 15.9155 15.9155 0 1 1 0 -31.831"
            ></path>
            <path class="circle"
                  fill="none"
                  stroke="#4db8ff"
                  stroke-width="3"
                  stroke-dasharray="25, 100"
                  d="M18 2.0845
                     a 15.9155 15.9155 0 1 1 0 31.831
                     a 15.9155 15.9155 0 1 1 0 -31.831"
            ></path>
          </svg>
          <div class="percentage">
            <%= @progress_3 %>%
          </div>
        </div>
        <p class="card-text text-center">TBA</p>
      </div>
    </div>
  </div>
</div>
