<!-- app/views/admin/guests/index.html.erb -->

<%= stylesheet_link_tag "admin" %>

<div class="row align-items-center mb-5 mt-5">
  <div class="col-sm-12">
    <h1 class="text-center">Welcome to admin dashboard page!</h1>
  </div>
</div>

<div class="container mt-5">

  <!-- Holy Matrimony Participants Section-->
  <div class="row justify-content-between mb-3">
    <div class="card bg-primary text-white">
      <div class="card-header text-center">
        Holy Matrimony Participants
      </div>

      <div class="card-body">
        <!-- Main Row for Cards -->
        <div class="row">

          <!-- Holy Matrinomy Not Confirmed Participant -->
          <div class="col-md-4 mb-3">
            <div class="card bg-light p-3">
              <h5 class="card-title text-center">Not Confirmed
                <span data-toggle="tooltip" data-placement="top" title="How many person that still not reserved this event through given invitation">
                  <i class="bx bx-info-circle" style="font-size: 1.2em; cursor: pointer;"></i>
                </span>
              </h5>
              <div class="progress-circle" data-percent="<%= @venue_holy_matrimony.fetch_not_confirmed_attendees %>">
                <svg viewBox="0 0 36 36" class="circular-chart" style="transform: rotate(-90deg);">
                  <path class="circle-bg"
                        fill="none"
                        stroke="#e6e6e6"
                        stroke-width="3"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 1 1 0 31.831
                          a 15.9155 15.9155 0 1 1 0 -31.831"
                  ></path>
                  <path class="circle"
                        fill="none"
                        stroke="#4db8ff"
                        stroke-width="3"
                        stroke-dasharray="<%= @venue_holy_matrimony.fetch_not_confirmed_attendees %>, 100"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 1 1 0 31.831
                          a 15.9155 15.9155 0 1 1 0 -31.831"
                  ></path>
                </svg>
                <div class="percentage">
                  <%= ((@venue_holy_matrimony.fetch_not_confirmed_attendees.to_f / @venue_holy_matrimony.max_attendees.to_f) * 100).round(2) %>%
                </div>
              </div>
              <p class="card-text text-center">
                <%= @venue_holy_matrimony.fetch_not_confirmed_attendees %> / <%= @venue_holy_matrimony.max_attendees %>
              </p>
            </div>
          </div>

          <!-- Holy Matrinomy Attending Participant -->
          <div class="col-md-4 mb-3">
            <div class="card bg-light p-3">
              <h5 class="card-title text-center">Attending
                <span data-toggle="tooltip" data-placement="top" title="How many person that are attend to this event">
                  <i class="bx bx-info-circle" style="font-size: 1.2em; cursor: pointer;"></i>
                </span>
              </h5>
              <div class="progress-circle" data-percent="<%= @venue_holy_matrimony.fetch_attended_attendees %>">
                <svg viewBox="0 0 36 36" class="circular-chart" style="transform: rotate(-90deg);">
                  <path class="circle-bg"
                        fill="none"
                        stroke="#e6e6e6"
                        stroke-width="3"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 1 1 0 31.831
                          a 15.9155 15.9155 0 1 1 0 -31.831"
                  ></path>
                  <path class="circle"
                        fill="none"
                        stroke="#4db8ff"
                        stroke-width="3"
                        stroke-dasharray="<%= @venue_holy_matrimony.fetch_attended_attendees %>, 100"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 1 1 0 31.831
                          a 15.9155 15.9155 0 1 1 0 -31.831"
                  ></path>
                </svg>
                <div class="percentage">
                  <%= ((@venue_holy_matrimony.fetch_attended_attendees.to_f / @venue_holy_matrimony.max_attendees.to_f) * 100).round(2) %>%
                </div>
              </div>
              <p class="card-text text-center">
                <%= @venue_holy_matrimony.fetch_attended_attendees %> / <%= @venue_holy_matrimony.max_attendees %>
              </p>
            </div>
          </div>

          <!-- Holy Matrinomy Absent Participant -->
          <div class="col-md-4 mb-3">
            <div class="card bg-light p-3">
              <h5 class="card-title text-center">Absent
                <span data-toggle="tooltip" data-placement="top" title="How many person that will not attend to this event">
                  <i class="bx bx-info-circle" style="font-size: 1.2em; cursor: pointer;"></i>
                </span>
              </h5>
              <div class="progress-circle" data-percent="<%= @venue_holy_matrimony.fetch_absent_attendees %>">
                <svg viewBox="0 0 36 36" class="circular-chart" style="transform: rotate(-90deg);">
                  <path class="circle-bg"
                        fill="none"
                        stroke="#e6e6e6"
                        stroke-width="3"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 1 1 0 31.831
                          a 15.9155 15.9155 0 1 1 0 -31.831"
                  ></path>
                  <path class="circle"
                        fill="none"
                        stroke="#4db8ff"
                        stroke-width="3"
                        stroke-dasharray="<%= @venue_holy_matrimony.fetch_absent_attendees %>, 100"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 1 1 0 31.831
                          a 15.9155 15.9155 0 1 1 0 -31.831"
                  ></path>
                </svg>
                <div class="percentage">
                  <%= ((@venue_holy_matrimony.fetch_absent_attendees.to_f / @venue_holy_matrimony.max_attendees.to_f) * 100).round(2) %>%
                </div>
              </div>
              <p class="card-text text-center">
                <%= @venue_holy_matrimony.fetch_absent_attendees %> / <%= @venue_holy_matrimony.max_attendees %>
              </p>
            </div>
          </div>

          <!-- Holy Matrinomy Invitation Aggreagte -->
          <div class="col-md-12 mb-3">
            <div class="card bg-light p-3">
              <h5 class="card-title text-center">Invitations
                <span data-toggle="tooltip" data-placement="top" title="How many invitations created, aggregated all the attending status">
                  <i class="bx bx-info-circle" style="font-size: 1.2em; cursor: pointer;"></i>
                </span>
              </h5>
              <div class="progress-circle" data-percent="<%= @venue_holy_matrimony.fetch_aggregated_attendees %>">
                <svg viewBox="0 0 36 36" class="circular-chart" style="transform: rotate(-90deg);">
                  <path class="circle-bg"
                        fill="none"
                        stroke="#e6e6e6"
                        stroke-width="3"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 1 1 0 31.831
                          a 15.9155 15.9155 0 1 1 0 -31.831"
                  ></path>
                  <path class="circle"
                        fill="none"
                        stroke="#4db8ff"
                        stroke-width="3"
                        stroke-dasharray="<%= @venue_holy_matrimony.fetch_aggregated_attendees %>, 100"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 1 1 0 31.831
                          a 15.9155 15.9155 0 1 1 0 -31.831"
                  ></path>
                </svg>
                <div class="percentage">
                  <%= ((@venue_holy_matrimony.fetch_aggregated_attendees.to_f / @venue_holy_matrimony.max_attendees.to_f) * 100).round(2) %>%
                </div>
              </div>
              <p class="card-text text-center">
                <%= @venue_holy_matrimony.fetch_aggregated_attendees %> / <%= @venue_holy_matrimony.max_attendees %>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Reception Participants Section-->
  <div class="row justify-content-between mb-3">
    <div class="card bg-primary text-white ">
      <div class="card-header text-center">
        Reception Participants
      </div>

      <div class="card-body">
        <!-- Main Row for Cards -->
        <div class="row">

          <!-- Reception Not Confirmed Participant -->
          <div class="col-md-4 mb-3">
            <div class="card bg-light p-3">
              <h5 class="card-title text-center">Not Confirmed
                <span data-toggle="tooltip" data-placement="top" title="How many person that still not reserved this event through given invitation">
                  <i class="bx bx-info-circle" style="font-size: 1.2em; cursor: pointer;"></i>
                </span>
              </h5>
              <div class="progress-circle" data-percent="<%= @venue_reception.fetch_not_confirmed_attendees %>">
                <svg viewBox="0 0 36 36" class="circular-chart" style="transform: rotate(-90deg);">
                  <path class="circle-bg"
                        fill="none"
                        stroke="#e6e6e6"
                        stroke-width="3"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 1 1 0 31.831
                          a 15.9155 15.9155 0 1 1 0 -31.831"
                  ></path>
                  <path class="circle"
                        fill="none"
                        stroke="#4db8ff"
                        stroke-width="3"
                        stroke-dasharray="<%= @venue_reception.fetch_not_confirmed_attendees %>, 100"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 1 1 0 31.831
                          a 15.9155 15.9155 0 1 1 0 -31.831"
                  ></path>
                </svg>
                <div class="percentage">
                  <%= ((@venue_reception.fetch_not_confirmed_attendees.to_f / @venue_reception.max_attendees.to_f) * 100).round(2) %>%
                </div>
              </div>
              <p class="card-text text-center">
                <%= @venue_reception.fetch_not_confirmed_attendees %> / <%= @venue_reception.max_attendees %>
              </p>
            </div>
          </div>

          <!-- Reception Attending Participant -->
          <div class="col-md-4 mb-3">
            <div class="card bg-light p-3">
              <h5 class="card-title text-center">Attending
                <span data-toggle="tooltip" data-placement="top" title="How many person that are attend to this event">
                  <i class="bx bx-info-circle" style="font-size: 1.2em; cursor: pointer;"></i>
                </span>
              </h5>

              <div class="progress-circle" data-percent="<%= @venue_reception.fetch_attended_attendees %>">
                <svg viewBox="0 0 36 36" class="circular-chart" style="transform: rotate(-90deg);">
                  <path class="circle-bg"
                        fill="none"
                        stroke="#e6e6e6"
                        stroke-width="3"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 1 1 0 31.831
                          a 15.9155 15.9155 0 1 1 0 -31.831"
                  ></path>
                  <path class="circle"
                        fill="none"
                        stroke="#4db8ff"
                        stroke-width="3"
                        stroke-dasharray="<%= @venue_reception.fetch_attended_attendees %>, 100"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 1 1 0 31.831
                          a 15.9155 15.9155 0 1 1 0 -31.831"
                  ></path>
                </svg>
                <div class="percentage">
                  <%= ((@venue_reception.fetch_attended_attendees.to_f / @venue_reception.max_attendees.to_f) * 100).round(2) %>%
                </div>
              </div>
              <p class="card-text text-center">
                <%= @venue_reception.fetch_attended_attendees %> / <%= @venue_reception.max_attendees %>
              </p>
            </div>
          </div>

          <!-- Reception Absent Participant -->
          <div class="col-md-4 mb-3">
            <div class="card p-3">
              <h5 class="card-title bg-light text-center">Absent
                <span data-toggle="tooltip" data-placement="top" title="How many person that will not attend to this event">
                  <i class="bx bx-info-circle" style="font-size: 1.2em; cursor: pointer;"></i>
                </span>
              </h5>
              <div class="progress-circle" data-percent="<%= @venue_reception.fetch_absent_attendees %>">
                <svg viewBox="0 0 36 36" class="circular-chart" style="transform: rotate(-90deg);">
                  <path class="circle-bg"
                        fill="none"
                        stroke="#e6e6e6"
                        stroke-width="3"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 1 1 0 31.831
                          a 15.9155 15.9155 0 1 1 0 -31.831"
                  ></path>
                  <path class="circle"
                        fill="none"
                        stroke="#4db8ff"
                        stroke-width="3"
                        stroke-dasharray="<%= @venue_reception.fetch_absent_attendees %>, 100"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 1 1 0 31.831
                          a 15.9155 15.9155 0 1 1 0 -31.831"
                  ></path>
                </svg>
                <div class="percentage">
                  <%= ((@venue_reception.fetch_absent_attendees.to_f / @venue_reception.max_attendees.to_f) * 100).round(2) %>%
                </div>
              </div>
              <p class="card-text text-center">
                <%= @venue_reception.fetch_absent_attendees %> / <%= @venue_reception.max_attendees %>
              </p>
            </div>
          </div>

          <!-- Holy Matrinomy Invitation Aggreagte -->
          <div class="col-md-12 mb-3">
            <div class="card bg-light p-3">
              <h5 class="card-title text-center">Invitations
                <span data-toggle="tooltip" data-placement="top" title="How many invitations created, aggregated all the attending status">
                  <i class="bx bx-info-circle" style="font-size: 1.2em; cursor: pointer;"></i>
                </span>
              </h5>
              <div class="progress-circle" data-percent="<%= @venue_reception.fetch_aggregated_attendees %>">
                <svg viewBox="0 0 36 36" class="circular-chart" style="transform: rotate(-90deg);">
                  <path class="circle-bg"
                        fill="none"
                        stroke="#e6e6e6"
                        stroke-width="3"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 1 1 0 31.831
                          a 15.9155 15.9155 0 1 1 0 -31.831"
                  ></path>
                  <path class="circle"
                        fill="none"
                        stroke="#4db8ff"
                        stroke-width="3"
                        stroke-dasharray="<%= @venue_reception.fetch_aggregated_attendees %>, 100"
                        d="M18 2.0845
                          a 15.9155 15.9155 0 1 1 0 31.831
                          a 15.9155 15.9155 0 1 1 0 -31.831"
                  ></path>
                </svg>
                <div class="percentage">
                  <%= ((@venue_reception.fetch_aggregated_attendees.to_f / @venue_reception.max_attendees.to_f) * 100).round(2) %>%
                </div>
              </div>
              <p class="card-text text-center">
                <%= @venue_reception.fetch_aggregated_attendees %> / <%= @venue_reception.max_attendees %>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Event Time Left Section -->
  <div class="row justify-content-between mb-3">
    <div class="card bg-primary text-white ">
      <div class="card-header text-center">
        Time left
      </div>

      <div class="card-body">
        <!-- Main Row for Cards -->
        <div class="row">

          <!-- Holy Matrimony -->
          <div class="col-md-6">
            <div class="card bg-light p-3">
              <h5 class="card-title text-center">Holy Matrimony</h5>
              <p class="card-text text-center" id="countdown-holy-matrimony">
                <!-- Initial countdown will be rendered here by JavaScript -->
              </p>
            </div>
          </div>

          <!-- Reception -->
          <div class="col-md-6">
            <div class="card bg-light p-3">
              <h5 class="card-title text-center">Reception</h5>
              <p class="card-text text-center" id="countdown-reception">
                <!-- Initial countdown will be rendered here by JavaScript -->
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Comments Section -->
  <div class="row justify-content-between mb-3">
    <div class="card bg-primary text-white">
      <div class="card-header text-center">
        All Comments
      </div>

      <div class="card-body">
        <!-- Scrollable comment section -->
        <div class="scrollable-comments">
          <!-- Iterate through the comments and display them -->
          <% @wedding.invitations.each do |invitation| %>
            <% if invitation.comments.present? %>
              <div class="comment bg-light text-black">
                <h5><%= invitation.guests&.pluck(:name)&.join(", ") %> - <%= invitation.attending ? 'Attending' : 'Not Attending' %></h5>
                <p><%= invitation.comments %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  function updateCountdown() {
    // Get the target date from the Rails instance variable passed via ERB
    var targetDateHolyMatrimony = new Date("<%= @venue_holy_matrimony.start_time.strftime('%B %d, %Y %H:%M:%S') %>").getTime();
    var targetDateReception = new Date("<%= @venue_reception.start_time.strftime('%B %d, %Y %H:%M:%S') %>").getTime();

    var now = new Date().getTime();
    var timeLeftHolyMatrimony = targetDateHolyMatrimony - now;
    var timeLeftReception = targetDateReception - now;

    if (timeLeftHolyMatrimony <= 0) {
      document.getElementById("countdown-holy-matrimony").innerHTML = "Time's up!";
      clearInterval(interval);
    } else if (timeLeftReception <= 0) {
      document.getElementById("countdown-reception").innerHTML = "Time's up!";
      clearInterval(interval);
    } else {
      var daysHM = Math.floor(timeLeftHolyMatrimony / (1000 * 60 * 60 * 24));
      var hoursHM = Math.floor((timeLeftHolyMatrimony % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutesHM = Math.floor((timeLeftHolyMatrimony % (1000 * 60 * 60)) / (1000 * 60));
      var secondsHM = Math.floor((timeLeftHolyMatrimony % (1000 * 60)) / 1000);

      var daysR = Math.floor(timeLeftReception / (1000 * 60 * 60 * 24));
      var hoursR = Math.floor((timeLeftReception % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutesR = Math.floor((timeLeftReception % (1000 * 60 * 60)) / (1000 * 60));
      var secondsR = Math.floor((timeLeftReception % (1000 * 60)) / 1000);

      document.getElementById("countdown-holy-matrimony").innerHTML = daysHM + " Days " + hoursHM + " Hours " + minutesHM + " Minutes " + secondsHM + " Seconds ";
      document.getElementById("countdown-reception").innerHTML = daysR + " Days " + hoursR + " Hours " + minutesR + " Minutes " + secondsR + " Seconds ";
    }
  }

  // Update the countdown every second
  var interval = setInterval(updateCountdown, 1000);
</script>
