<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>The wedding of Nicky & Nova</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The wedding of Nicky & Nova">
  <meta name="keywords" content="The wedding of Nicky & Nova">
  <meta name="author" content="VincentiusNicky">
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:image" content="">
  <meta name="twitter:url" content="">
  <meta name="twitter:card" content="">
  <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Italianno" rel="stylesheet">

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <!-- Audio section, will be hidden and autoplay upon user interaction -->
  <audio id="bg-audio" preload="auto" style="display: none;">
    <source src="<%= asset_path('intro.mp3') %>" type="audio/mpeg">
  </audio>

  <div class="fh5co-loader"></div>

  <div id="page">
    <!-- First section page with background and countdown: START -->
    <header id="fh5co-header" class="fh5co-cover" role="banner"
        style="background-image: url(<%= asset_path('background_home.jpg') %>);"
        data-stellar-background-ratio="0.3">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="display-t">
              <div class="display-tc animate-box" data-animate-effect="fadeIn">
                <h1 style="margin-top:10%">The Wedding of Nicky & Nova</h1>
                <h2 class="caveat-info">June 7, 2025</h2>

                <div class="simply-countdown simply-countdown-one" style="margin-top:70%"></div>
                <p><a href="<%= @calendar_url %>" class="btn btn-default btn-sm" >Save the date</a></p>

                <h2 class="caveat-guest">Hi, <%= @guests %></h2>
                <% if @invitation.attending.nil? %>
                  <h2 class="caveat-info">You are invited!</h2>
                <% elsif @invitation.attending? %>
                  <h2 class="caveat-info">We are so pleased that you could attend, thank you for being here!</h2>
                <% else  %>
                  <h2 class="caveat-info">Thank you for letting us know, we completely understand</h2>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- First section page with background and countdown: END -->

    <!-- Second section page with guest invitation and couple description: START -->
    <div id="fh5co-couple">
      <div class="container">
        <div class="couple-wrap animate-box">
          <div class="couple-half">
            <div class="groom">
              <img class="img-responsive" src="<%= asset_path('groom.jpg') %>" />
            </div>
            <div class="desc-groom">
              <h3>Vincentius Nicky</h3>
              <p>He is a software engineer who has a passion for both cars and keeping things spotless. He finds joy in detailing his car, organizing drawers, and somehow even enjoys vacuuming</p>
            </div>
          </div>
          <p class="heart text-center"><i class="icon-heart2"></i></p>
          <div class="couple-half">
            <div class="bride">
              <img class="img-responsive" src="<%= asset_path('bride.jpg') %>" />
            </div>
            <div class="desc-bride">
              <h3>Nova Belina</h3>
              <p>She works in finance and loves expressing herself through cooking. Her kitchen experiments often lead to delicious meals, and Nicky is always happy to be the taste tester and cleanup crew</p>
            </div>
          </div>
        </div>
			</div>
    </div>
    <!-- Second section page with guest invitation and couple description: END -->

    <!-- Third section page with location description: START -->
    <div id="fh5co-event" class="fh5co-bg" style="background-image: url(<%= asset_path('gbi_basilea.jpg') %>);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
            <span>The Wedding of Nicky & Nova</span>
            <h2>Location</h2>
          </div>
        </div>
        <div class="row">
          <div class="display-t">
            <div class="display-tc">
              <div class="col-md-10 col-md-offset-1">
                <% if @invitation.is_holy_matrimony_invited? || @invitation.is_both_events_invited? %>
                  <div class="col-md-6 col-sm-6 text-center">
                      <div class="event-wrap animate-box">
                      <h3>Holy Matrimony</h3>
                      <div class="event-col">
                        <span>
                          <%= @wedding.venues.holy_matrimony.start_time.strftime("%I:%M %p") %>
                        </span>
                      </div>
                      <div class="event-col">
                        <span>
                          <%= @wedding.venues.holy_matrimony.start_time.strftime("%B %d, %Y") %>
                        </span>
                      </div>
                      <p>
                        We are invite you to our holy matrimony session @GBI Basilea Christ Cathedral. It is our honor to have you attend this session as is cruical event for both of us
                      </p>


                      <button type="button" class="btn btn-web" data-toggle="modal" data-target="#locationModalHolyMatrimony">
                        See Location
                      </button>
                    </div>
                  </div>

                  <!-- Modal section to show maps to user when a location is clicked -->

                  <div class="modal fade" id="locationModalHolyMatrimony" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="locationModalLabel">GBI Basilea Christ Cathedral</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <iframe src="<%= @wedding.venues.holy_matrimony.map_src %>" width="325" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
                <% if @invitation.is_reception_invited? || @invitation.is_both_events_invited? %>
                  <div class="col-md-6 col-sm-6 text-center">
                    <div class="event-wrap animate-box">
                      <h3>Intimate Dinner</h3>

                      <div class="event-col">
                        <span>
                          <%= @wedding.venues.reception.start_time.strftime("%I:%M %p") %>
                        </span>
                      </div>
                      <div class="event-col">
                        <span>
                          <%= @wedding.venues.reception.start_time.strftime("%B %d, %Y") %>
                        </span>
                      </div>

                      <p>
                        We are invite you to eat a lot @Pondok Kemangi Alam Sutera, so please come on time
                      </p>

                      <button type="button" class="btn btn-web" data-toggle="modal" data-target="#locationModalReception">
                        See Location
                      </button>
                    </div>
                  </div>

                  <!-- Modal section to show maps to user when a location is clicked -->

                  <div class="modal fade" id="locationModalReception" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="locationModalLabel">Pondok Kemangi Alam Sutera</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <iframe src="<%= @wedding.venues.reception.map_src %>" width="325" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Third section page with location description: END -->

    <!-- Fourth section page with couple story: START -->
    <div id="fh5co-couple-story">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
            <span>Where It Begins</span>
            <h2>Our Love Journey</h2>
            <p>
              Together, they bring out the best in each other. She brings the flavor and creativity, while He brings calm and order. They’ve built a home full of warmth, respect, and a lot of love.

              <br>
              <br>

              Now they’re ready to celebrate this next chapter with the people who matter most. Thank you for being part of their journey
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-md-offset-0">
            <ul class="timeline animate-box">
              <li class="animate-box">
                <div class="timeline-badge" style="background-image: url(<%= asset_path('story-1-first-we-met.jpg') %>);"></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 class="timeline-title">First We Met</h3><span class="date">November 10, 2019</span>
                  </div>
                  <div class="timeline-body">
                    <p>On this very day, it was love at first sight. On the outside, they shared smiles and laughter, but deep within, a warmth blossomed between them. Silent yet undeniable. On one occasion He suggested they make this moment happen more often, and she responded with the most powerful one-syllable word in the English language: "Yes." It felt like the beginning of a fairy tale, unfolding before their eyes </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted animate-box">
                <div class="timeline-badge" style="background-image: url(<%= asset_path('story-2-in-a-relationship.jpg') %>);"></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 class="timeline-title">Officially In A Relationship</h3><span class="date">December 15, 2019</span>
                  </div>
                  <div class="timeline-body">
                    <p>As the days passed, both of them carried on with their lives, yet something was shifting between them. He couldn't bear the thought of losing her. On that particular day, a whirlwind of emotions swept over him—confusion, fear, and uncertainty. But deep down, he could no longer hide from the truth. With a trembling heart, he finally confessed his feelings. To his relief, she smiled, and in that moment, he knew: she felt the same </p>
                  </div>
                </div>
              </li>
              <li class="animate-box">
                <div class="timeline-badge" style="background-image: url(<%= asset_path('story-3-first-chirstmas.jpg') %>);"></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 class="timeline-title">First Chirstmas</h3><span class="date">December 25, 2019</span>
                  </div>
                  <div class="timeline-body">
                    <p>It may sound like a dream to experience a white Christmas in a tropical country, where snow is nothing more than a distant fantasy. But there are no mere words that can truly capture the magic of celebrating the holiday with someone who holds a special place in your heart. In the end, he couldn’t help but feel incredibly lucky that day, while she knew, deep down, it was the best Christmas she had ever had </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted animate-box">
                <div class="timeline-badge" style="background-image: url(<%= asset_path('story-4-first-anniversary.jpg') %>);"></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 class="timeline-title">First Anniversary</h3><span class="date">December 15, 2020</span>
                  </div>
                  <div class="timeline-body">
                    <p>A year ago, we began this journey together, and it's been filled with laughter, adventures, and unforgettable moments. We've grown stronger as a couple, learning and sharing along the way. Our first anniversary is just the start of many more years of love and memories ahead</p>
                  </div>
                </div>
              </li>
              <li class="animate-box">
                <div class="timeline-badge" style="background-image: url(<%= asset_path('story-5-finally-engaged.jpg') %>);"></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h3 class="timeline-title">Finally Engaged</h3><span class="date">December 15, 2024</span>
                  </div>
                  <div class="timeline-body">
                    <p>Today marks our fifth anniversary, a day that holds a special place in our hearts. Both of them knew, without a doubt, that they were destined to be together. Unlike the anniversaries of the past, this one feels different. As they stood hand in hand, he nervously asked, "Will you marry me?" With tears of pure joy, she whispered, "Yes." In that moment, everything changed. They both knew they were ready to take their love to the next level and embrace the future together </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Fourth section page with couple story: END -->

    <!-- Fifth section page with our photo galleries: START -->
    <div id="fh5co-gallery" class="fh5co-section-gray">
      <div class="container">

        <!-- Title -->

        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
            <span></span>

            <blockquote class="blockquote">
              <p class="mb-0">The best thing to hold onto in life is each other</p>
              <footer class="blockquote-footer">Audery Hepburn</footer>
            </blockquote>
          </div>
        </div>

        <!-- Carousel -->

        <div id="galleryCarousel" class="carousel slide" data-ride="carousel">
          <!-- Items -->
          <div class="carousel-inner" role="listbox">
            <% images = [ 'gallery-1.jpg',
                          'gallery-2.jpg',
                          'gallery-3.jpg',
                          'gallery-4.jpg',
                          'gallery-5.jpg',
                          'gallery-6.jpg'
                        ]%>

            <% images.each_with_index do |image, index| %>
              <div class="item <%= 'active' if index == 0 %>">
                <img class="image-item-corousel" src="<%= asset_path(image) %>" alt="Image<%= index + 1 %>">
              </div>
            <% end %>
          </div>

          <!-- Controls -->

          <a class="left carousel-control" href="#galleryCarousel" role="button" data-slide="prev">
            <span class="custom-arrow">
              <i class="icon-arrow-left"></i>
            </span>
          </a>
          <a class="right carousel-control" href="#galleryCarousel" role="button" data-slide="next">
            <span class="custom-arrow">
              <i class="icon-arrow-right"></i>
            </span>
          </a>

        </div>
      </div>
    </div>
    <!-- Fifth section page with our photo galleries: END -->

    <!-- Sixth section page with all of invitees comments: START -->
    <div id="fh5co-testimonial">
      <div class="container">
        <div class="row">
          <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
              <span>Best Wishes</span>
              <h2>Friends Wishes</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 animate-box">
              <div class="wrap-testimony">
                <% if @invtitaion_comments.count > 2 %>

                  <!--show all comments -->

                  <div class="owl-carousel-fullwidth">
                    <% @invtitaion_comments.each do |invitation| %>
                      <div class="item">
                        <div class="testimony-slide active text-center">
                          <figure>
                            <% if invitation.guests.pluck(:gender).uniq == [0] %>
                              <!-- show female avatar icon -->
                              <img src="<%= asset_path('female-avatar.jpeg') %>">
                            <% elsif invitation.guests.pluck(:gender).uniq == [1] %>
                              <!-- show male avatar icon -->
                              <img src="<%= asset_path('male-avatar.jpeg') %>">
                            <% else invitation.guests.pluck(:gender).uniq == [1] %>
                              <!-- show group avatar icon -->
                              <img src="<%= asset_path('group-avatar.jpg') %>">
                            <% end %>
                          </figure>
                          <span><%= invitation.guests.pluck(:name).join(" & ") %></span>
                          <blockquote>
                            <p><%= invitation.comments %></p>
                          </blockquote>
                        </div>
                      </div>
                    <% end %>
                </div>
                <% else %>

                  <!--persuade invitees to add some comment! -->

                  <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <span>Be the first to wish the groom and bride a happiness!</span>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Sixth section page with all of invitees comments: END -->

    <!-- Seventh section page with the RSVP: START -->
    <div id="fh5co-started" class="fh5co-bg" style="background-image: url(<%= asset_path('reservation-bg2.jpg') %>);">
      <div class="overlay"></div>
      <div class="container">

      <% if @invitation.comments.present? || !@invitation.attending.nil? %>
        <!-- Show thank you page! -->
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>Thank you for your reservation!</h2>
            <p>It means a lot for us for your presence</p>
          </div>
        </div>
      <% else %>
        <!-- Show RSVP form -->
        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>Are You Attending?</h2>
            <p>Please fill out the form to notify us that you're attending. Thanks.</p>
          </div>
        </div>

        <div class="row animate-box">
          <div class="col-md-10 col-md-offset-1">
            <%= form_with(url: invitations_create_path(id: @invitation.id), method: :post, local: true) do |form| %>
              <div class="col-md-4 col-sm-4">
                <div class="form-group">
                  <%= form.label :comments, class: 'sr-only' %>
                  <%= form.text_area :comments, class: 'form-control', rows: 4, placeholder: "Wish you both all the happiness in the world!!" %>
                </div>
              </div>

              <!-- Add radio buttons for attendance -->
              <div class="col-md-4 col-sm-4">
                <div class="form-group">
                  <%= form.label :attending, "Will you be attending?", class: 'white-text' %><br>
                  <%= form.radio_button :attending, 'yes', required: true %> <%= form.label :attending_yes, 'Yes, I am attending', class: 'white-text' %><br>
                  <%= form.radio_button :attending, 'no', required: true %> <%= form.label :attending_no, "I’m sorry, but I won’t be able to attend", class: 'white-text' %>
                </div>
              </div>

              <div class="col-md-4 col-sm-4">
                <%= form.submit 'Submit', class: 'btn btn-web btn-block' %>
              </div>
            <% end %>
          </div>
        </div>

      <% end %>
      </div>
    </div>
    <!-- Seventh section page with the RSVP: END -->

    <!-- Eighth section page with the Wedding Gifts: START -->
    <div id="fh5co-services" class="fh5co-section-gray">
      <div class="container">

        <div class="row animate-box">
          <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
            <h2>Wedding Gifts</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
              <span class="icon">
                <i class="icon-wallet"></i>
              </span>
              <div class="feature-copy">
                <h3>Vincentius Nicky</h3>
                <p>BANK BCA / 6040315738</p>
              </div>
            </div>

            <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
              <span class="icon">
                <i class="icon-wallet"></i>
              </span>
              <div class="feature-copy">
                <h3>Nova Belina</h3>
                <p>BANK BCA / 8990739847</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="feature-left animate-box text-center" data-animate-effect="fadeInRight">
              <div class="container">
                <div class="card">
                  <blockquote class="blockquote mb-0">
                    <p class="mb-0">Your presence and heartfelt blessings are the greatest gift we could ask for. If you would like to offer something more, we’ve provided a Digital Envelope to make it convenient for you. Thank you for being part of our special day</p>
                    <footer class="blockquote-footer">Vincentius Nicky & Nova Belina</footer>
                  </blockquote>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Eighth section page with the Wedding Gifts: END -->

    <!-- Ninth section page for the footer: START -->
    <footer id="fh5co-footer" role="contentinfo">
      <div class="container">
        <div class="row copyright">
          <div class="col-md-12 text-center">
            <p><small class="block">The wedding of Nicky & Nova</small> <small class="block">Built by <a href="https://www.instagram.com/vincentiusnickywijaya" target="_blank">VincentiusNicky</a></small></p>
            <ul class="fh5co-social-icons">
              <li>
                <a href="#"></a>
              </li>
              <li>
                <a href="#"></a>
              </li>
              <li>
                <a href="#"></a>
              </li>
              <li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- Ninth section page for the footer: END -->

  </div>

  <!-- Script related section: START -->
  <script>
    // handle autoplay theme song
    // ---------------------------
    document.addEventListener("DOMContentLoaded", function () {
      const audio = document.getElementById("bg-audio");

      function tryPlayAudio() {
        if (!audio) return;

        audio.play()
          .then(() => {
            console.log("Audio started after user interaction.");
            removeListeners();
          })
          .catch((e) => {
            console.warn("Autoplay blocked:", e);
          });
      }

      function removeListeners() {
        window.removeEventListener("scroll", tryPlayAudio);
        document.removeEventListener("click", tryPlayAudio);
        document.removeEventListener("keydown", tryPlayAudio);
        document.removeEventListener("touchstart", tryPlayAudio);
      }

      // Listen for any user interaction
      window.addEventListener("scroll", tryPlayAudio, { once: true });
      document.addEventListener("click", tryPlayAudio, { once: true });
      document.addEventListener("keydown", tryPlayAudio, { once: true });
      document.addEventListener("touchstart", tryPlayAudio, { once: true });
    });

    // handle timer countdown
    // --------------------------

    var d = new Date("<%= @wedding.venues.holy_matrimony.start_time.strftime('%Y-%m-%dT%H:%M:%S') %>");

    // default example
    simplyCountdown('.simply-countdown-one', {
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate()
    });

    //jQuery example
    $('#simply-countdown-losange').simplyCountdown({
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate(),
        enableUtc: false
    });
  </script>
  <!-- Script related section: END -->
</body>
</html>
